Source: php5-dev-5.5-buildscripts
Section: php
Priority: optional
Maintainer: Gertjan Oude Lohuis <gertjan@byte.nl>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.5

Package: php5-dev-5.5-buildscripts
Architecture: any
Depends: 
Description: Some scripts copied from the 5.5 version of php5-dev to aid in compiling PHP modules
  Some scripts copied from the 5.5 version of php5-dev to aid in compiling PHP modules
